/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-body);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Títulos padrões */
.title {
  font-family: var(--font-title);
  font-size: var(--fs-title);
  text-align: center;
  margin-bottom: var(--space-3);
  font-weight: 500; 
}

.subtitle {
  text-align: center;
  font-size: var(--fs-subtitle);
  color: var(--black-60);
  margin-bottom: var(--space-8);
  font-weight: 100; 
}

/* Botão */
.btn {
  display: block;
  margin: 0 auto;
  padding: clamp(10px, 2vw, 16px) clamp(18px, 3vw, 32px);
  font-size: var(--fs-body);
  border: none;
  border-radius: 999px;
  background: var(--white);
  color: var(--black);
  box-shadow: var(--shadow);
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.btn:hover:not(:disabled) {
  transform: translateY(-2px);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
